@model hms.DataModel.ViewModels.US_ROLE_MENU_VM

@{
    ViewData["Title"] = "Role Menu";
}
<div class="card card-secondary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            @ViewData["Title"]
        </h3>
    </div>
    <form method="get" action="/Setup/RoleMenu/ManageRoleMenu" novalidate="novalidate">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Role" class="control-label"></label>
                            <select asp-for="Role" class="form-control form-control-sm" asp-items="ViewBag.Role"><option selected>-Select-</option></select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right">View</button>
            <input type="button" onclick="location.reload();" class="btn btn-secondary float-left" value="Cancel">
        </div>
    </form>
</div>

<table class="table" id="mytable">
    <thead>
        <tr>
            <th>Parent</th>
            <th>Child</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ROLE_MENU_LIST !=null)
        {
            var _parent = Model.ROLE_MENU_LIST.GroupBy(x => x.Parent_Name).ToList();
            @foreach (var childs in _parent)
            {
                <tr>
                    <th><i class="@childs.First().Parent_Icon"></i> @childs.Key</th>
                    <td colspan="2"></td>
                </tr>
                @foreach (var baby in childs)
                {
                    <tr>
                        <td></td>
                        <td><i class="@baby.Child_Icon"></i> @baby.Child_Name</td>
                        <td><input class="form-check-input" asp-for="@baby.Active" value="@baby.Child_Id" /></td>
                    </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <button id="btnSaveRoleMenu" type="button" class="btn btn-primary float-right" onclick="btnSaveRoleMenuClick();">Submit</button>
            </td>
        </tr>
    </tfoot>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/Areas/Setup/rolemenu.js"></script>
}
