@model IEnumerable<hms.DataModel.ViewModels.US_ROLE_MENU_VM>

@{
    ViewData["Title"] = "Role Menu";
}
<div class="card card-secondary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            @ViewData["Title"]
        </h3>
    </div>
    <form method="post" action="/Setup/Role/ManageRole" novalidate="novalidate">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right">Submit</button>
            <input type="button" onclick="location.reload();" class="btn btn-secondary float-left" value="Cancel">
        </div>
    </form>
</div>

@*<div class="col-md-12">
        <form asp-action="ManageRoleMenu" asp-controller="Manage" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="US_ROLE_ID" class="control-label"></label>
                        <select asp-for="US_ROLE_ID" class="form-control form-control-sm" asp-items="ViewBag.US_ROLE_ID"><option selected>-Select-</option></select>
                        <span asp-validation-for="US_ROLE_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="US_CHILD_MENU_ID" class="control-label"></label>
                        <select asp-for="US_CHILD_MENU_ID" class="form-control form-control-sm" asp-items="ViewBag.US_CHILD_MENU_ID"><option selected>-Select-</option></select>
                        <span asp-validation-for="US_CHILD_MENU_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IS_ACTIVE" class="control-label"></label>
                        <div class="form-check">
                            <input class="form-check-input" asp-for="IS_ACTIVE" checked />
                            <label class="form-check-label"> @Html.DisplayNameFor(model => model.IS_ACTIVE)</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                    </div>
                </div>
            </div>
        </form>
    </div>*@

<table class="table">
    <thead>
        <tr>
            <th>Parent</th>
            <th>Child</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            var _parent = Model.GroupBy(x => x.Parent_Name).ToList();
            @foreach (var childs in _parent)
            {
                <tr>
                    <th><i class="@childs.First().Parent_Icon"></i> @childs.Key</th>
                    <td colspan="2"></td>
                </tr>
                @foreach (var baby in childs)
                {
                    <tr>
                        <td></td>
                        <td><i class="@baby.Child_Icon"></i> @baby.Child_Name</td>
                        <td><input class="form-check-input" asp-for="@baby.Active" value="@baby.Child_Id" /></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
