@*@{
    ViewData["Title"] = "Home Page";
}*@

@model IEnumerable<hms.DataModel.ViewModels.US_LEADERBOARD_MODULE_VM>;
@{
    ViewData["Title"] = "Leader Board";
}
<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model.OrderBy(x => x.View_Order))
        {
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="@item.Module_Icon"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">@item.Module_Name</span>
                        <span class="info-box-number"><a asp-controller="@item.Module_Controller" asp-action="@item.Module_Method" asp-route-id="@item.Module_Id">Options</a></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        }
    }
</div>